player-connection-mode=Listen
player-connection-guid=2941279272
player-connection-debug=0
player-connection-project-name=Xerox_UAV
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
gfx-threading-mode=4
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=b58245e1f05540b49e31b1c8ea84edae
